<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="{{ site.baseurl }}/">BEASTIEGRAM</a>

        <ul class="pure-menu-list"> 
            <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">Contact Us</a></li>
          {% for page in site.pages %}
          {% if page.title %}

            <li class="pure-menu-item"><a href="{{ page.url | prepend: site.baseurl }}" class="pure-menu-link">{{ page.title }}</a></li>
 
          {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>


 
