<!doctype html>
<html lang="en">
  {% include head.html %}
<body>
    {% include header.html %}
 
 
 

<div class="content-wrapper">
    

    <div class="  l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
             IMG
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

            </p>
        </div>
    </div>

    {% include footer.html %}
    

</div>

 
    {% include pure-script.html %}





</body>
</html>

 
