<!doctype html>
<html lang="en">
  {% include head.html %}
<body>
    {% include header.html %}
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
 
 

<div class="splash-con tainer">
    <div class="splash">
        <h1 class="splash-head">BEASTIEGRAM!</h1>
        <p class="splash-subhead">
           Take photos, save badgers!

        </p>
        <p>
            <a class="pure-button pure-button-primary typeform-share  " href="https://digitaldelivery.typeform.com/to/mU4tvl" data-mode="1" target="_blank">Get Started</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">BEASTIEGRAM</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Take Photos
                </h3>
                  

                <p>
                    Form groups, take photos of wildlife, and the outdoors, feel awesome. All in a gated online community.
                </p>


            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Win Challenges
                </h3>
                <p>
                    Group leaders set challenges like "take five photos of mammals" or "sitka spruce" - and the group race to complete.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Build teams
                </h3>
                <p>
                    Solo, race and team completion challenges help build team spirit. Great fun for scout groups.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Get stuff 
                </h3>
                <p>
                    Earn vouchers and equipment for your club or school by completing sponsored award challenges.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
             IMG
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head  ">Some other stuff</h2>

            <p> 


                  {{ content }}

            </p>
        </div>
    </div>

    {% include footer.html %}
    

</div>

 
    {% include pure-script.html %}





</body>
</html>
